# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS 관련
.DS_Store
Thumbs.db

# IDE / 편집기 관련
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django 관련
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
static/
staticfiles/

# FastAPI / 데이터 파일
/data/*
!/data/.gitkeep
app/data/*
!app/data/.gitkeep
mvtec_ad/
*.csv
*.xlsx
*.tar
*.zip

# 백업 / 임시 파일
*.bak
*.swp
*.tmp

# 배포 / 빌드 관련
*.egg-info/
dist/
build/
